.input_group input:not([type=checkbox]){
    box-shadow: 0px 0px 3px 2px #3A3845;
    display: block;
    padding: 8px;
    width: 90%;
    border: none;
    border-radius: 3px;
    margin: 10px 0px;
}
.input_group input:focus{
    outline: none;
}
.form_area{
    margin: 0px auto;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0px auto;
    width: 50%;
}
.form_area h3{
    font-family: 'Akshar', sans-serif;
    font-size: 30px;
    font-weight: 500;
}
#login{
    padding: 130px 0px;
    background-color: rgba(247, 205, 172, 0.3);
}
.refer_register button{
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 5px 25px;
    background-color: #3A3845;
    border-radius: 3px;
    font-weight: 600;
    transition: all linear .4s;
    margin-left: 20px;
    color: gold;
}
.login_btn{
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: #C69B7B;
}

/*<-----apply media query-------->*/
@media (min-width: 992px) and (max-width: 1199px) {
    .input_group input:not([type=checkbox]){
        width: 100%;
    }
    .form_area{
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .input_group input:not([type=checkbox]){
        width: 100%;
    }
    .form_area{
        width: 80%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .input_group input:not([type=checkbox]){
        width: 100%;
    }
    .form_area{
        width: 70%;
    }
}

@media (max-width: 575.98px) {
    .input_group input:not([type=checkbox]){
        width: 100%;
    }
    .form_area{
        width: 60%;
    }
    .refer_register{
        text-align: center;
    }
    .refer_register button{
        font-size: 15px;
        font-weight: 600;
        margin-left: 0;
        margin-top: 10px;
    }
}

/*<-----apply media query-------->*/