
.service_text h3{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin:  0px;
    padding: 3px 0px;
}
.service_text p{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: justify;
}
.service_text button{
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 5px 25px;
    background-color: #826F66;
    border-radius: 3px;
    color: #F7CCAC ;
    font-weight: 600;
    transition: all linear .4s;
}
.service_text button:hover{
    background-color: #C69B7B;
    color: gold;
}
.service{
    background-color: #F7CCAC;
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
}
.service img {
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-radius: 8px;
    padding-bottom: 5px;
}

/*<-----apply media query-------->*/
@media (min-width: 992px) and (max-width: 1199px){}
@media (min-width: 768px) and (max-width: 991.98px){
   
}
@media (min-width: 576px) and (max-width: 767.98px){
    .service img {
        height: 50%;
    }
}
@media (max-width: 575.98px){
    .service img {
        height: 60%;
    }
}
/*<-----apply media query-------->*/

