
.service_text h3, h4{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin: 3px 0px;
    padding: 0;
}
.service_text p{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: justify;
}
.service_text button{
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 5px 25px;
    background-color: #F7CCAC;
    border-radius: 3px;
    font-weight: 600;
    transition: all linear .4s;
    position: absolute;
    bottom: 10px;
}
.service_text button:hover{
    background-color: #C69B7B;
    color: gold;
}
.service{
    background-color: #826F66;
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
    position: relative;
}
.service img {
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-radius: 8px;
}

